/* ID */
#content {
    background-color:white;
}

#aboutus-description .description-container {
    padding-top:73px;
}

#aboutus-description h2 {
    font-size:72px;
    font-weight:300;
    letter-spacing:-2px;
    padding:0 0 26px 0;
    margin:0;
}

#aboutus-description p {
    font-size:20px;
    letter-spacing:-0.2px;
    padding:0;
    margin:0;
    -webkit-text-stroke:0.1px black;
}

#aboutus-story {
    border-bottom:solid 1px #999999;
}

#aboutus-story .story-container{
    padding-top:84px;
    padding-bottom:75px;
}

#aboutus-story .row {
    margin-left:-7px;
    margin-right:-8px;
}

#aboutus-story img {
    padding-left:7px;
    padding-right:8px;
    padding-bottom:15px;
}

#aboutus-meet .meet-container {
    padding-top:75px;
}

#aboutus-meet h3 {
    font-weight:300;
    font-size:72px;
    letter-spacing:-2px;
    padding:0 0 26px 0;
    margin:0 0 0 -6px;
}

#aboutus-meet p {
    font-size:20px;
    letter-spacing:-0.2px;
    padding:0;
    margin:0;
    -webkit-text-stroke:0.1px black;
}

#aboutus-member {
    margin-top:84px;
    position:relative;
}

#aboutus-member .member-container {
    padding-left:10px;
    padding-right:10px;
    padding-top:84px;
    padding-bottom:75px;
}

#aboutus-member .member {
    position:absolute;
    width:182px;
    height:354px;
}

#aboutus-member .member p {
    text-align:center;
    padding:0;
    margin:0;
}

#aboutus-member .member .name {
    font-weight:300;
    font-size:23px;
    width:220px;
    margin-left:-19px;
    padding-top:23px;
    text-transform: uppercase;
    -webkit-text-stroke:0.1px black;
    color:black;
}

#aboutus-member .member .position {
    font-weight:400;
    font-size:17px;
    width:220px;
    margin-left:-19px;
    padding-top:5px;
    line-height:1.3em;
    color:#6E6E6E;
}

#aboutus-youtube {
    padding-bottom:90px;
}

.member a:hover p {
    opacity:0.7;
}

.youtube-video-embed a {
    display:block;
    position:relative;
    cursor:pointer;
}

.youtube-video-embed a .youtube-video-preview {
    width:100%;
    height:100%;
}

.youtube-video-embed a .youtube-video-overlay {
    display:none;
    position:absolute;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, 0.3);
    width:100%;
    height:100%;
}

.youtube-video-embed a .youtube-video-play {
    position:absolute;
    width:128px;
    height:128px;
    top:50%;
    left:50%;
    margin-top:-64px;
    margin-left:-64px;
}

/* MOBILE */
@media (max-width:767px) {
    #aboutus-description h2 {
        font-size:54px;
        letter-spacing:-1.5px;
        padding:0 0 28px 0;
        margin:0;
        line-height:64px;
    }

    #aboutus-description p {
        font-size:18px;
        letter-spacing:-0.18px;
        padding:0;
        margin:0;
        -webkit-text-stroke:0.1px black;
    }

    #aboutus-description .description-container{
        padding-top:32px;
    }

    #aboutus-story {
        border-bottom:0;
    }

    #aboutus-story .story-container {
        padding-top:43px;
        padding-bottom:37px;
        border-bottom:solid 1px #999999;
    }

    #aboutus-story .row {
        margin-left:-4px;
        margin-right:-4px;
    }

    #aboutus-story img {
        padding-left:4px;
        padding-right:4px;
        padding-bottom:8px;
    }

    #aboutus-meet .meet-container {
        padding-top:32px;
    }

    #aboutus-meet h3 {
        font-size:54px;
        letter-spacing:-1.5px;
        padding:0 0 19.5px 0;
        margin:0 0 0 -3px;
    }

    #aboutus-meet p {
        font-size:18px;
        letter-spacing:-0.18px;
        padding:0;
        margin:0;
        -webkit-text-stroke:0.1px black;
    }

    #aboutus-member {
        margin-top:42px;
    }

    #aboutus-member .member-container {
        padding-left:36px;
        padding-right:36px;
    }

    #aboutus-member .member {
        position:absolute;
        width:127px;
        height:230px;
    }

    #aboutus-member .member img {
        width:127px;
        height:127px;
    }

    #aboutus-member .member .name {
        font-size:17px;
        width:165px;
        margin-left:-19px;
        padding-top:14px;
        text-transform: uppercase;
        -webkit-text-stroke:0.1px black;
    }

    #aboutus-member .member .position {
        font-weight:300;
        font-size:12px;
        width:165px;
        margin-left:-19px;
        padding-top:5px;
        line-height:1.3em;
        color:#6E6E6E;
        -webkit-text-stroke:0.1px #6E6E6E;
    }

    #aboutus-youtube {
        padding-top:6px;
        padding-bottom:45px;
    }

    .youtube-video-embed a .youtube-video-play {
        position:absolute;
        width:62px;
        height:62px;
        top:50%;
        left:50%;
        margin-top:-31px;
        margin-left:-31px;
    }
}
