/* ID */
#apps-hero {
    width:100%;
    height:600px;
    position:relative;
    overflow:hidden;
}

#apps-main {
    width:100%;
    padding-top:49px;
    padding-bottom:80px;
    background-color:white;
}

#app-square-moldiv .app-sqaure-logo-image {
    width:151px;
    height:auto;
}

#app-square-rookiecam .app-sqaure-logo-image {
    width:108px;
    height:auto;
}

#app-square-picsplay .app-sqaure-logo-image {
    width:168px;
    height:auto;
}

#app-square-happyme .app-sqaure-logo-image {
    width:109px;
    height:auto;
}

/* CLASS */
.apps-hero-container {
    height:100%;
}

.apps-hero-content {
    position:relative;
    height:100%;
}

.apps-hero-content .jellybus-logo {
    opacity:0.7;
}

.apps-hero-content .jellybus-logo:hover {
    opacity:1.0;
}

.apps-hero-content .jellybus-logo-desktop img {
    margin-top:19px;
    width:111px;
    height:28px;
    display:block;
}

.apps-hero-content .jellybus-logo-mobile img {
    width:95px;
    height:60px;
    margin-left:-1px;
    display:none;
}

.apps-hero-content .title {
    position:absolute;
    width:100%;
}

.apps-hero-content .description {
    position:absolute;
    top:50%;
    width:100%;
}

.apps-hero-content .description h2 {
    font-weight:300;
    padding:0;
    margin:0;
}

.apps-hero-content .description .link {

}

.apps-hero-content .description .link a {
    float:left;
    display:block;
}

.apps-hero-background img {
    position:absolute;
    display:none;
}

.apps-hero-background .apps-hero-overlay {
    position:absolute;
    width:100%;
    height:100%;
    display:none;
}

.apps-main-content {
    color:black;
    padding-bottom:49px;
}

.apps-main-content p {
    padding:0;
    margin:0;
}

.apps-main-content .icon-container {
    width:100%;
    text-align:right;
}

.apps-main-content .text-container {
    width:100%;
    min-height:222px;
}

.youtube-video-embed a {
    display:block;
    position:relative;
    cursor:pointer;
}

.youtube-video-embed a .youtube-video-preview {
    width:100%;
    height:100%;
}

.youtube-video-embed a .youtube-video-overlay {
    display:none;
    position:absolute;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, 0.3);
    width:100%;
    height:100%;
    border-radius:15px;
}

.youtube-video-embed a .youtube-video-play {
    position:absolute;
    width:128px;
    height:128px;
    top:50%;
    left:50%;
    margin-top:-64px;
    margin-left:-64px;
}

.feature {
    padding-bottom:63px;
}

.information {
    position:relative;
    overflow:hidden;
    height:600px;
}

.information .container {
    max-width:864px;
}

.information .background {
    height:inherit;
    position:relative;
    overflow:hidden;
}

.information .background .auto-resize {
    position:absolute;
}

.information .background .image-wrap {
    position:absolute;
    width:6000px;
    left:50%;
    margin-left:-3000px;
}

.information .background .image-wrap img {
    float:left;
}

.information .content {
    height:inherit;
    position:relative;
    margin-top:-600px;
}

.information .content img {
    position:absolute;
}

.information .content .text {
    position:absolute;
    width:100%;
}

.information h3 {
    font-size:33px;
    font-weight:400;
    padding:57px 0 17px 0;
    margin:0;
}

.information p {
    font-size:17px;
    font-family:"Open sans", sans-serif;
    padding:0;
    margin:0;
    line-height:1.75em;
}

.gallery {
    background-color:black;
    position:relative;
    overflow:hidden;
}

.gallery .background {
    position:absolute;
    display:none;
}

.gallery .title {
    font-size:33px;
    font-weight:400;
    text-align:center;
    color:white;
    padding-top:67px;
    padding-bottom:10px;
    margin-bottom:80px;
    position:relative;
}

.gallery .title a {
    text-decoration:none;
}

.gallery .title .border {
    position:absolute;
    width:80px;
    margin-left:-40px;
    left:50%;
    bottom:0;
    border-bottom:solid 1px white;
}

.gallery .grid {
    margin-top:-15px;
    margin-bottom:-15px;
    padding-bottom:80px;
}

.gallery .grid a {
    display:block;
    padding-top:15px;
    padding-bottom:15px;
}

.gallery .grid .image-background {
    width:100%;
    background-color:black;
}

.gallery .grid img {
    width:100%;
}

.gallery .grid img:hover {
    opacity:0.7;
}

.store-link {
    height:146px;
    background-color:#111111;
    text-align:center;
    font-size:0;
}

.store-link a {
    padding:0 28px;
}

.store-link img {
    margin-top:42px;
    width:211px;
    height:auto;
}

.jellybus-apps .title {
    font-size:33px;
    font-weight:400;
    text-align:center;
    color:black;
    padding-top:67px;
    padding-bottom:70px;
    position:relative;
}

.jellybus-apps .title p {
    padding:0;
    margin:0;
}

.app-square-container:before {
	padding-top:113.33%;
}

.app-square-container {
    width:100%;
}

.app-square .app-square-banner-image {
    width:100%;
    height:auto;
}

.app-square .app-square-caption-left-bottom {
    position:absolute;
    padding-left:20px;
    padding-right:20px;
    bottom:19.5%;
    width:100%;
    color:white;
    font-size:22px;
}

.app-square .app-square-caption-center {
    margin-top:-8%;
}

.app-square .app-square-fill {
    height:84.7%;
}

.app-square .app-square-caption-left-bottom .app-sqaure-logo-image {
    padding-bottom:7px;
}

.app-square .app-square-caption-left-bottom p {
    font-size:14px;
}

.app-square .link {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:12.6%;
}

.app-square .link img {
    height:100%;
    width:auto;
}

.app-square .link a {
    display:block;
    width:50%;
    height:100%;
}

.app-square .link .appstore {
    float:left;
}

.app-square .link .google {
    float:right;
    text-align:right;
}

.app-square .btn-default {
    font-size:12px;
    padding:3px 12px;
}

/* MOBILE */
@media (max-width:767px) {
    #apps-hero {
        width:100%;
        height:465px;
    }

    #apps-main {
        padding-top:45px;
        padding-bottom:0;
    }

    .feature {
        padding-bottom:45px;
    }

    .apps-hero-background .apps-hero-overlay {
        display:block;
        background-color:rgba(0, 0, 0, 0.6);
    }

    .apps-hero-content .description {
        text-align:center;
    }

    .apps-hero-content .description .link {
        display:inline-block;
        width:100%;
        text-align:center;
        font-size:0;
    }

    .apps-hero-content .description .link a {
        float:none;
        display:inline;
        padding:0 3px;
    }

    .apps-hero-content .jellybus-logo-desktop img {
        display:none;
    }

    .apps-hero-content .jellybus-logo-mobile img {
        display:block;
    }

    .apps-main-content {
        padding-bottom:17px;
    }

    .apps-main-content .icon-container {
        text-align:center;
    }

    .apps-main-youtube {
        padding-top:10px;
    }

    .youtube-video-embed a .youtube-video-play {
        position:absolute;
        width:62px;
        height:62px;
        top:50%;
        left:50%;
        margin-top:-31px;
        margin-left:-31px;
    }

    .information {
        height:auto;
    }

    .information .background {
        display:none !important;
    }

    .information .container {
        max-width:864px;
        padding:0 32px;
        height:auto;
    }

    .information .content {
        margin-top:0;
        height:auto;
    }

    .information .content img {
        position:absolute;
        bottom:0;
    }

    .information .content .text {
        position:relative;
        width:100%;
    }

    .information p {
        font-size:15px;
        font-family:"Open sans", sans-serif;
        padding:0;
        margin:0;
        line-height:1.75em;
    }

    .gallery .background {
        display:none !important;
    }

    .gallery .title {
        font-size:24px;
        color:white;
        padding-top:36px;
        padding-bottom:5px;
        margin-bottom:40px;
        position:relative;
    }

    .gallery .grid {
        margin-top:-5px;
        margin-bottom:-5px;
        margin-left:-5px;
        margin-right:-5px;
        padding-bottom:45px;
    }

    .gallery .grid > div {
        padding-left:5px;
        padding-right:5px;
    }

    .gallery .grid a {
        display:block;
        padding-top:5px;
        padding-bottom:5px;
    }

    .store-link {
        height:109px;
    }

    .store-link a {
        padding:0 9px;
    }

    .store-link img {
        margin-top:32px;
        width:158px;
        height:auto;
    }

    .jellybus-apps .container {
        padding-right:37px;
        padding-left:37px;
        max-width:400px;
    }

    .jellybus-apps .title {
        font-size:24px;
        font-weight:400;
        text-align:center;
        color:black;
        padding-top:37px;
        padding-bottom:37px;
        position:relative;
    }

    .jellybus-apps .title p {
        padding:0;
        margin:0;
    }

    .jellybus-apps .row {
        margin-bottom:-44px;
    }

    .jellybus-apps .app-square-container {
        margin-bottom:35px;
    }
}
